<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head></h:head>
<h:body>
	<h:form id="frmEmpleado" onload="PF('frmEmpleado:nombre').focus()">		
		<f:loadBundle basename="appgate" var="label" />						
		<!--Campos -->				
		<p:panel id="pnlTituloEmpleado" header="${label['empleado.titulo']}" style="text-align: center;font-size: 80%;"/>
						
		<center>
			<p:panel id="pnlEmpleado">
				<p:focus context="pnlEmpleado"/>
				<p:panelGrid columns="1" styleClass="centered" id="infoLogo">        			
	        			<p:graphicImage library="imagenes" name="appgate.jpg" alt="Logo"/>	        
			    </p:panelGrid>
			    <p:panelGrid columns="2" id="infoEmpleado" style="text-align: center;font-size: 80%;">		    		        			  	       
				        <p:outputLabel style="font-weight:bold" value="${label['etiquetaRequerido']} ${label['empleado.nombre']}" />
						<p:inputText id="nombre" value="#{empleadoBean.empleado.nombre}"  required="true"
									 promptLabel="Digite el nombre"
									 requiredMessage="${label['mensajeRequerido']}"
									 onfocus="this.select()"/>
						
						<p:outputLabel style="font-weight:bold" value="${label['etiquetaRequerido']} ${label['empleado.meses']}" />					
						<p:inputNumber id="meses" value="#{empleadoBean.empleado.meses}" feedback="true" required="true"
				                    promptLabel="Digite los meses"
				                    requiredMessage="${label['mensajeRequerido']}"
				                    onfocus="this.select()"/>
				                    
				        <p:outputLabel style="font-weight:bold" value="${label['etiquetaRequerido']} ${label['empleado.salario']}" />					
						<p:inputNumber id="salario" value="#{empleadoBean.empleado.salario}" feedback="true" required="true"
				                    promptLabel="Digite el salario"
				                    requiredMessage="${label['mensajeRequerido']}"
				                    onfocus="this.select()">				        	
				        </p:inputNumber>
			    </p:panelGrid>
			</p:panel>
									
			<p:panelGrid columns="2" style="text-align: center;font-size: 80%;">
				<p:commandButton id="cmdLimpiarEmpleado" 
					value="Limpiar" action="#{empleadoBean.limpiarEmpleado}" 
					update="messages,infoEmpleado"/>	
				<p:commandButton id="cmdGuardarEmpleado" 
					value="Guardar" action="#{empleadoBean.guardarEmpleado}" 
					update="messages,infoEmpleado"/>					
			</p:panelGrid>
			<p:messages id="messages" autoUpdate="true" closable="true" />
		</center>
	</h:form>
	
	<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
	 
	<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
	    <p:graphicImage library="imagenes" name="ajax-loader.gif"/>
	</p:dialog>
</h:body>
</html>